.films h2 {
    margin-bottom: 45px;
    font-weight: 800;
    font-size: 48px;
    text-align: center;
}

.films .info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px 40px;
}

.films .info~div {
    height: 50%;
}

.films h3 {
    font-weight: 800;
    font-size: 26px;
}

.films .star {
    background: url(../../images/star.png) repeat-x;
    height: 20px;
    width: 89px;
    margin-bottom: 11px;
}

.films .info img {
    height: 200px;
    float: left;
    margin: 5px 20px 10px 0;
}

.films .info p {
    text-align: justify;
}

@media (max-width: 817px) {
    .films .info {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
}

@media (max-width: 650px) {
    .films .info {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}

@media (max-width: 500px) {
    .films {
        padding: 0px 25px;
        height: 620px;
        position: relative;
    }
    
    .films .info {
        display: block;
    }
    
    .films .info h3{
        font-size: 25px;
    }
    
    .films .navigation {
        position: absolute;
        bottom: 0;
        width: 300px;
        display: flex;
        align-items: end;
        justify-content: space-between;
    }

    .films .navigation input[type="radio"] {
        margin-right: 5px;
        appearance: none;
        background-color: #fff;
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }

    .films .navigation input[type="radio"]:checked {
        background-color: #FFF212;
        width: 16px;
        height: 16px;
    }

    .films .navigation button {
        background: url(../../images/arrow.svg) no-repeat center;
        cursor: pointer;
        width: 40px;
        height: 20px;
        border: none;
    }

    .films .navigation button:nth-child(1) {
        rotate: 180deg;
    }
}