.carousel {
    overflow: hidden;
}

.carousel .info {
    margin-top: 350px;
    width: 600px;
    height: 100px;
    position: relative;
}

.carousel .info .slide {
    position: absolute;
    z-index: -1;
    top: -150px;
}

.carousel .info .slide h2 {
    font-size: 40px;
    text-align: start;
    padding-left: 5px;
    border-left: 8px solid #E9FF00;
}

.carousel .info .slide h2~p {
    font-size: 20px;
    padding-top: 10px;
}

.carousel .navigation {
    position: absolute;
    width: 600px;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.carousel .navigation input[type="radio"] {
    margin-right: 5px;
    appearance: none;
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.carousel .navigation input[type="radio"]:checked {
    background-color: #E9FF00;
    width: 15px;
    height: 15px;
}

.carousel .navigation button {
    background: url(../../images/arrow.svg) no-repeat center;
    cursor: pointer;
    width: 40px;
    height: 20px;
    border: none;
}

.carousel .navigation button:nth-child(1) {
    rotate: 180deg;
}

@media (max-width: 740px) {
    .carousel .info {
        width: 450px;
    }

    .carousel .info .slide h2 {
        font-size: 30px;
    }

    .carousel .info .slide h2~p {
        font-size: 14px;
    }

    .carousel .navigation {
        padding-top: 50px;
        width: 450px;
    }
}

@media (max-width: 567px) {
    .carousel .info {
        width: 300px;
    }

    .carousel .info .slide h2 {
        font-size: 30px;
        height: 70px;
        display: flex;
        align-items: center;
    }

    .carousel .navigation {
        padding-top: 100px;
        width: 300px;
    }
}

.slide-animado {
    -webkit-animation-name: auto-slide;
    -moz-animation-name: auto-slide;
    animation-name: auto-slide;

    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;

    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
}

@-webkit-keyframes auto-slide {
    from {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-moz-keyframes auto-slide {
    from {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes auto-slide {
    from {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        transform: translateX(0%);
    }
}