.top {
    position: absolute;
    z-index: 3;
    bottom: 10%;
    right: 10%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: rgba(136, 136, 136, 0.3) url(../../images/arrow.svg) no-repeat center;
    transform: rotate(270deg);
    cursor: pointer;
}