.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(10px);
}

.header img {
    height: 50px;
}

.header nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header nav ul li {
    font-size: 16px;
}

@media (max-width: 900px){
    .header .desktop{
        display: none;
    }
}

@media (max-width: 450px){
    .header{
        padding: 30px;
    }
}