.successMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
}

.successMessage div {
    background: rgb(0, 0, 0);
    box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.2);
    border-left: 14px solid #FFF212;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 469px;
    height: 255px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.successMessage div span {
    position: absolute;
    top: 0;
    right: 15px;
    cursor: pointer;
}

.successMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
}

.successMessage div {
    background: rgb(0, 0, 0);
    box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.2);
    border-left: 14px solid #FFF212;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 469px;
    height: 255px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.successMessage div span {
    position: absolute;
    top: 0;
    right: 15px;
    cursor: pointer;
}

.successMessage div img {
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 2px solid #FFF212;
    border-radius: 50%;
}

.successMessage div h2 {
    font-size: 22px;
    text-align: center;
    margin: 25px;
}

.successMessage div p {
    text-align: center;
    width: 382px;
}

.successMessage div img {
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 2px solid #FFF212;
    border-radius: 50%;
}

.successMessage div h2 {
    font-size: 22px;
    text-align: center;
    margin: 25px;
}

.successMessage div p {
    text-align: center;
    width: 382px;
}

@media (max-width: 450px) {
    .successMessage div {
        width: 300px;
        height: 255px;
    }

    .successMessage div p {
        width: 250px;
    }
}